html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.light {
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.darkLight {
    background-color:black;
    color: white;
   
}

.darkLight table {
    background-color: black;
    color: white;
    color:white;
}
    .darkLight table td {
        background-color: black;
        color: white;
        
    }